.registerContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1d2639;
}

.mainFormContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.registerTitleBox {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.registerTitle {
  font-size: 60px;
  color: #e7dfdd;
}

.registerTitleBorder {
  width: 70%;
  height: 2px;
  background: #f5c144;
}

.registerSubtitleBox {
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.registerSubtitle {
  font-size: 40px;
  color: #e7dfdd;
  font-weight: bold;
  letter-spacing: 1px;
}

.registerDesc {
  font-size: 40px;
  color: #f5c144;
  font-family: jost;
  letter-spacing: 2px;
}

.formContainer {
  width: 600px;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px 0;
  padding: 20px;
  background: #465975;
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

.fnlnInputBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 15px;
}

.fnBox {
  width: 100%;
  min-height: 85px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.lnBox {
  width: 100%;
  min-height: 85px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.usernameBox {
  width: 100%;
  min-height: 85px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.emailBox {
  width: 100%;
  min-height: 85px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.ageBox {
  width: 100%;
  min-height: 85px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.passwordBox {
  width: 100%;
  min-height: 85px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.confirmPasswordBox {
  width: 100%;
  min-height: 85px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.inputsBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px 0;
}

.registerInput {
  width: 100%;
  height: 40px;
  border: 2px solid #fafafa;
  color: #000;
  background: #fafafa;
  outline: 0;
  border-radius: 5px;
  padding: 0 11px;
  font-size: 16px;
}

.registerInput::placeholder {
  color: #777;
}

.fnLabel,.lnLabel,.usernameLabel,.emailLabel,.ageLabel,
.passwordLabel,.confirmPasswordLabel {
  font-size: 15px;
  font-weight: 500;
  color: #e2e2e2;
}

.fnInput {
  width: 100%;
}

.lnInput {
  width: 100%;
}

.acceptBox {
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px 0;
  margin-top: 20px;
}

.checkBoxInputBox {
  display: flex;
  align-items: center;
  gap: 0 5px;
}

.checkboxInput {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: #385898;
}

.termsText {
  font-size: 12px;
  color: rgb(226, 226, 226);
}

.linkTerms {
  color: #2196f3;
}

.linkTerms:hover {
  text-decoration: underline;
}

.submitButton {
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  background: #f5c144;
  color: #fafafa;
  cursor: pointer;
  transition: 0.1s ;
}

.submitButton:hover {
  background: #f7cc69;
}

.submitButton:active {
  background: #d3a02a;
}

.submitButton:disabled {
  opacity: 0.4;
  cursor: default;
}

.loginLinkText {
  color: #2196f3;
  font-weight: 300;
}

.loginLinkText:hover {
  text-decoration: underline;
}

.input-error {
  border-color: red;
}

.error-message {
  font-size: 12px;
  color: red;
}

